<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{panel_id}">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion{parent_id}" href="#collapse{panel_id}" aria-expanded="false" aria-controls="collapse{panel_id}">
                {header}
            </a>
        </h4>
    </div>
    <div id="collapse{panel_id}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{panel_id}">
        <div class="panel-body text-center">
            {body}
        </div>
    </div>
</div>
